* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: flex-start;
  height: 10vh;
  width: 100%;
  background-color: skyblue;
  padding-left: 50px;
}

.homeButton {
  border: none;
  font-size: 20px;
  font-weight: 800;
  background-color: skyblue;
}

.box {
  background-color: black;
  padding: 50px;
  width: 100%;
  height: 70vh;
}


.displayBox {
  height: 50vh;
  background-color: snow;
}